In [934]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [935]:
path_2020 = "../data/raw/2020_season/nba2021_per_game.csv"
path_2021 = "../data/raw/2021_season/2021-2022 NBA Player Stats - Regular.csv"
path_2022 = "../data/raw/2022_season/2022-2023 NBA Player Stats - Regular.csv"
stand_2020 = "../data/raw/standings_2020"

In [936]:
df_2022 = pd.read_csv(path_2022, encoding="latin-1", sep=";")
df_2021 = pd.read_csv(path_2021, sep=";", encoding="latin-1")
df_2020 = pd.read_csv(path_2020)

# Visualización de los Dataframes

## Temporada 2020-2021

In [937]:
df_2020.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,PF,21,MIA,28,2,14.6,2.6,4.4,0.590,...,0.561,1.3,2.7,4.0,0.6,0.4,0.5,1.0,1.9,6.5
1,Jaylen Adams,PG,24,MIL,6,0,2.8,0.2,1.3,0.125,...,0.000,0.0,0.5,0.5,0.3,0.0,0.0,0.0,0.2,0.3
2,Steven Adams,C,27,NOP,27,27,28.1,3.5,5.8,0.603,...,0.468,4.3,4.6,8.9,2.1,1.0,0.6,1.7,1.9,8.0
3,Bam Adebayo,C,23,MIA,26,26,33.6,7.4,12.9,0.573,...,0.841,1.9,7.3,9.2,5.3,1.0,1.0,3.0,2.6,19.9
4,LaMarcus Aldridge,C,35,SAS,18,18,26.7,5.9,12.5,0.476,...,0.762,0.8,3.5,4.3,1.9,0.4,0.9,0.9,1.5,14.1

## Temporada 2021 - 2022

In [938]:
df_2021.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

## Temporada 2022 - 2023

In [939]:
df_2022.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,23,TOR,55,12,20.7,3.6,7.3,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,3,Bam Adebayo,C,25,MIA,75,75,34.6,8.0,14.9,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
3,4,Ochai Agbaji,SG,22,UTA,59,22,20.5,2.8,6.5,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9
4,5,Santi Aldama,PF,22,MEM,77,20,21.8,3.2,6.8,...,0.750,1.1,3.7,4.8,1.3,0.6,0.6,0.8,1.9,9.0

# Limpieza de datos

## Repetición de jugadores

In [940]:
# Dentro de los datasets, podemos ver que hay ciertos jugadores que se repiten en varias ocaciones, esto es debido a que
# durante la temporada cambiaron de equipo, para proseguir tenemos que quitar a los jugadores duplicados y solo dejar 
# la fila que contiene sus promedios generales. Además ya que la fila de los promedios generales, en la sección de equipo
# solo dice "TOT" tendremos que cambiar el "TOT" por el último equipo en el que jugó el jugador

In [941]:
def eliminador(df): #Iniciamos una función que va a eliminar los valores duplicados
    idx = []
    ultimo_equipo = {}
    contador = 0
    for id, player in enumerate(df["Player"]): #vamos iterando a traves de los jugadores y de su índice
        if player == df["Player"].iloc[id - 1]: #si el jugador es igual al pasado guardamos su índice en la lista idx
            contador +=1
            if contador == 2:
                ultimo_equipo[player] =  df["Tm"].iloc[id] #La segunda vez que se repite un jugador guardamos el jugador y su equipo en ultimo_equipo
                contador = 0
            idx.append(id)
        else:
            contador = 0
    df.drop(idx, inplace=True) #Tiramos las filas repetidas

    for jugador, equipo in ultimo_equipo.items():
        idx_tot = df[(df["Player"] == jugador) & (df["Tm"] == "TOT")].index #sacamos el índice de la fila de promedios del jugador repetido
        df.loc[idx_tot, "Tm"] = equipo  #Sustituímos el valor "TOT" por el último equipo en dónde estuvo el jugador
    return df

## Jugadores ausentes

In [942]:
# Ya que existe la posibilidad de que existan jugadores que su último temporada fue en 2021 o que su primera temporada fue en
# 2022, voy a tomar la decisión de eliminar a esos jugadores y solo quedarme con loq ue estuvieron activos ambos años.

In [943]:
def ausente(df1, df2, df3):
    jugadores_df2 = set(df2["Player"])
    jugadores_df3 = set(df3["Player"])
    df1_filtrado = df1[(df1["Player"].isin(jugadores_df2)) & (df1["Player"].isin(jugadores_df3))]

    #for player in df1["Player"]:
        #if player not in df2["Player"].values and player not in df3["Player"].values: #Revisamos si el jugador se encuentra en el año siguiente o pasado
            #df1.drop(df1[df1["Player"] == player].index, inplace=True) #En caso de que no se encuentre, tiraremos esa fila
    return df1_filtrado

## Ajuste de índice

In [944]:
# El valor que tienen en común ambos datsets son los nombres de los jugadores, entonces para poder concatenar los df de manera
# exitosa, haremos que la columna "Players" se convierta en el índice. Además tiraremos la columna "Rk", ya que ya no sirve
# ninguna función.

In [945]:
def continuo(df):
    df = df.set_index(['Player']) #Cambiamos "Player" a ser el nuevo índice
    if "Rk" in df.columns:
        df = df.drop(["Rk"], axis=1) # Tiramos la columna "Rk"
    return df

## Cambio de nombre columnas

In [946]:
# Ahora cada columna del dataframe le cambiaremos el nombre, esto con el fin de poder identificar las estadísticas del 2021 y las
# del 2022 al momento de concatenar los dataframes.

In [947]:
def nombre_col(df, nuevo_nombre):
    columnas = [col for col in df.columns] # Sacamos una lista de todas las columnas
    columnas_nuevas = {col: col + "_" + nuevo_nombre for col in columnas} #Hacemos un diccionario con el nombre de la columna y su nuevo nombre
    df = df.rename(columns = columnas_nuevas) # Apliamos los cambios en las columnas
    return df

In [948]:
equipos_este_2020 = ["PHI", "BKN", "MIL", "NYK", "ATL", "MIA", "BOS", "WAS"]
equipos_este_2021 = ["MIA", "BOS", "MIL", "PHI", "TOR", "CHI", "BKN", "CLE"]
equipos_este_2022 = ["MIL", "BOS", "PHI", "CLE", "NYK", "BKN", "MIA", "ATL"]
equipos_oeste_2020 = ["UTA", "PHX", "DEN", "LAC", "DAL", "POR", "LAL", "MEM"]
equipos_oeste_2021 = ["PHX", "MEM", "GSW", "DAL", "UTA", "DEN", "MIN", "LAC"]
equipos_oeste_2022 = ["DEN", "MEM", "SAC", "PHX", "LAC", "GSW", "LAL", "MIN"]
playoffs_2020 = equipos_este_2020 + equipos_oeste_2020
playoffs_2021 = equipos_este_2021 + equipos_oeste_2021
playoffs_2022 = equipos_oeste_2022 + equipos_este_2022

In [949]:
def numericas(df, playoff):
    df["Tm"] = df["Tm"].apply(lambda x: 1 if x in playoff else 0)
    df["Age"] = df["Age"].apply(lambda x: 1 if x < 30 else 0)
    df["Pos"] = df["Pos"].apply(lambda x: 0 if x == "PG" else 1 if x == "SG" else 2 if x == "SF" else 3 if x == "PF" else 4)
    return df

## Aplicación de los cambios

In [950]:
df_2020 = ausente(eliminador(df_2020), df_2021, df_2022)
df_2021 = ausente(eliminador(df_2021), df_2020, df_2022)
df_2022 = ausente(eliminador(df_2022), df_2020, df_2021)

In [951]:
df_2020 = numericas(df_2020, playoffs_2020)
df_2021 = numericas(df_2021, playoffs_2021)
df_2022 = numericas(df_2022, playoffs_2022)

In [952]:
df_2021 = nombre_col(continuo(df_2021), "2021")
df_2022 = nombre_col(continuo(df_2022), "2022")
df_2020 = nombre_col(continuo(df_2020), "2020")

In [953]:
print(df_2020.shape)
print(df_2021.shape)
print(df_2022.shape)

(312, 28)
(312, 28)
(312, 28)

## Concatenación

In [954]:
df_comb = df_2020.join(df_2021).join(df_2022) #Usamos el operador .join() para que junte ambos Df usando como referencia el índice
df_comb.head()

,Pos_2020,Age_2020,Tm_2020,G_2020,GS_2020,MP_2020,FG_2020,FGA_2020,FG%_2020,3P_2020,...,FT%_2022,ORB_2022,DRB_2022,TRB_2022,AST_2022,STL_2022,BLK_2022,TOV_2022,PF_2022,PTS_2022
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,3,1,1,28,2,14.6,2.6,4.4,0.590,0.0,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
Steven Adams,4,1,0,27,27,28.1,3.5,5.8,0.603,0.0,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
Bam Adebayo,4,1,1,26,26,33.6,7.4,12.9,0.573,0.1,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
Nickeil Alexander-Walker,1,1,0,23,3,19.2,3.3,8.2,0.410,1.0,...,0.667,0.3,1.5,1.7,1.8,0.5,0.4,0.9,1.5,6.2
Grayson Allen,1,1,1,19,8,23.9,3.2,7.4,0.429,2.3,...,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4

In [955]:
df_comb["Age_2022"].value_counts()

Age_2022
1    219
0     93
Name: count, dtype: int64